<div class="container">
  @if (recipe()) {
  <div>
    <div class="card mt-3">
      <p-card class="responsive-card" [style]="{ overflow: 'hidden' }">
        <ng-template #header>
          <div class="image-wrapper">
            <img alt="Card" class="responsive-img-main" [src]="'data:image/jpeg;base64,' + recipe()?.immagineurl" />
          </div>
        </ng-template>

        <ng-template #title>
          <div class="text-center font-bold text-xl">{{ recipe()?.titolo }}</div>
        </ng-template>

        <ng-template #subtitle>
          <div class="text-center text-gray-500">{{ recipe()?.descrizione }}</div>
        </ng-template>

        <ng-template #footer>
          <div class="flex flex-col gap-4 mt-2">
            <p-accordion [value]="['0', '1']" [multiple]="true">
              <p-accordion-panel value="0">
                <p-accordion-header>Ingredienti</p-accordion-header>
                <p-accordion-content>
                  <ul class="list-group list-group-flush">
                    @if (ingredientiModificati()) {
                    @for (ingredient of ingredientiModificati(); track ingredient) {
                    <li class="list-group-item">
                      @if ((ingredient.quantita == null || ingredient.quantita == 0) &&
                      (!ingredient.unitaMisura || ingredient.unitaMisura === '')) {
                      <span>{{ ingredient.ingredienteNome }}</span>
                      }
                      @if (ingredient.quantita && ingredient.quantita !== 0) {
                      <span>{{ ingredient.ingredienteNome }} - {{ ingredient.quantita }} {{ ingredient.unitaMisura
                        }}</span>
                      }
                      @if (ingredient.unitaMisura && ingredient.unitaMisura !== '' &&
                      (!ingredient.quantita || ingredient.quantita === 0)) {
                      <span>{{ ingredient.ingredienteNome }} {{ ingredient.unitaMisura }}</span>
                      }
                    </li>
                    }
                    }
                  </ul>
                </p-accordion-content>
              </p-accordion-panel>

              <p-accordion-panel value="1">
                <p-accordion-header>Procedimento</p-accordion-header>
                <p-accordion-content>
                  <p-stepper [value]="1">
                    @for (step of recipe()!.procedimento.split(';'); track $index) {
                    <p-step-item [value]="$index + 1">
                      <p-step>{{ step }}</p-step>
                      <p-step-panel>
                        <ng-template #content let-activateCallback="activateCallback">
                          <div class="flex flex-col h-48">
                            <div
                              class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                              <!-- eventuale contenuto -->
                            </div>
                          </div>
                        </ng-template>
                      </p-step-panel>
                    </p-step-item>
                    }
                  </p-stepper>
                </p-accordion-content>
              </p-accordion-panel>
            </p-accordion>
          </div>
        </ng-template>
      </p-card>
    </div>

    <div class="card mt-3">
      <div class="card-header">
        Commenti
      </div>
      <div class="card-body">
        @if(recipeUser()){
        @if(user){
        @for(commento of recipeUser(); track commento) {
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ commento.email.split('@')[0] }}</h5>
            @if(commented && showInput){
            <textarea class="form-control mb-2" rows="3" placeholder="Scrivi il tuo commento..."
              [(ngModel)]="commento.commento">
            </textarea>
            <div class="mb-3">
              <label class="form-label">Valutazione:</label>
              <rating 
                [(ngModel)]="commento.valutazione" 
                [max]="5" 
                [readonly]="false" 
                [titles]="['1', '2', '3', '4', '5']" >
              </rating>
            </div>
            
            <button class="btn btn-success" (click)="submitComment(commento.commento, commento.valutazione)">Invia</button>
            <button class="btn btn-danger ms-2" (click)="comeback()">Annulla</button>
            }
            @else{
            <p class="card-text">{{ commento.commento }}</p>
            }
            @if(commented && !showInput){
            <button class="btn btn-primary" (click)="showInput = !showInput">
              Modifica commento
            </button>
            <div class="btn-group">
              <button class="btn btn-warning active ms-2">{{valutazioneMedia}}</button>
              <button class="btn btn-warning active"><i class="fa-solid fa-star ms-2"></i></button>
              <button class="btn btn-warning" aria-current="page" (click)="showInput = !showInput">Vota</button>
            </div>
            }
          </div>
        </div>
        }

        @if(!commented){
        <button class="btn btn-primary" (click)="showInput = !showInput">
          Commenta
        </button>
        @if(showInput){
        <div class="mt-3">
          <textarea class="form-control mb-2" rows="3" placeholder="Scrivi il tuo commento..."
            [(ngModel)]="commentText"></textarea>
          <button class="btn btn-success" (click)="submitComment(commentText, 5)">Invia</button>
          <button class="btn btn-danger ms-2" (click)="comeback()">Annulla</button>
        </div>
        }
        }
        }
        @else {
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Effettua il login per vedere i commenti!</h5>
            </div>
          </div>
        }
        }






      </div>
    </div>

    @if(relatedRecipes){
    <div class="card mt-3 mb-3">
      <div class="card-header">
        Ricette correlate
      </div>
      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          @for(recipe of relatedRecipes; track recipe) {
          <div class="carousel-item" [class.active]="recipe === relatedRecipes[0]">
            <img [src]="'data:image/jpeg;base64,'+ recipe.immagineurl" class="d-block mx-auto img-fluid carousel-img"
              alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ recipe.titolo }}</h5>
            </div>
          </div>
          }

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    }

  </div>

  } @else {
  <p>Loading...</p>
  }
</div>