<div class="container">
  @if (recipe()) {
  <div>
    <div class="card mt-3">
      <p-card class="responsive-card" [style]="{ overflow: 'hidden' }">
        <ng-template #header>
          <div class="image-wrapper">
            <img alt="Card" class="responsive-img-main" [src]="'data:image/jpeg;base64,' + recipe()?.immagineurl" />
          </div>
        </ng-template>

        <ng-template #title>
          <div class="text-center font-bold text-xl">{{ recipe()?.titolo }}</div>
        </ng-template>

        <ng-template #subtitle>
          <div class="text-center text-gray-500">{{ recipe()?.descrizione }}</div>
        </ng-template>

        <ng-template #footer>
          <div class="flex flex-col gap-4 mt-2">
            <p-accordion [value]="['0', '1']" [multiple]="true">
              <p-accordion-panel value="0">
                <p-accordion-header>Ingredienti</p-accordion-header>
                <p-accordion-content>
                  <ul class="list-group list-group-flush">
                    @if (ingredientiModificati()) {
                    @for (ingredient of ingredientiModificati(); track ingredient) {
                    <li class="list-group-item">
                      @if ((ingredient.quantita == null || ingredient.quantita == 0) &&
                      (!ingredient.unitaMisura || ingredient.unitaMisura === '')) {
                      <span>{{ ingredient.ingredienteNome }}</span>
                      }
                      @if (ingredient.quantita && ingredient.quantita !== 0) {
                      <span>{{ ingredient.ingredienteNome }} - {{ ingredient.quantita }} {{ ingredient.unitaMisura
                        }}</span>
                      }
                      @if (ingredient.unitaMisura && ingredient.unitaMisura !== '' &&
                      (!ingredient.quantita || ingredient.quantita === 0)) {
                      <span>{{ ingredient.ingredienteNome }} {{ ingredient.unitaMisura }}</span>
                      }
                    </li>
                    }
                    }
                  </ul>
                </p-accordion-content>
              </p-accordion-panel>

              <p-accordion-panel value="1">
                <p-accordion-header>Procedimento</p-accordion-header>
                <p-accordion-content>
                  <p-stepper [value]="1">
                    @for (step of recipe()!.procedimento.split(';'); track $index) {
                    <p-step-item [value]="$index + 1">
                      <p-step>{{ step }}</p-step>
                      <p-step-panel>
                        <ng-template #content let-activateCallback="activateCallback">
                          <div class="flex flex-col h-48">
                            <div
                              class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                              <!-- eventuale contenuto -->
                            </div>
                          </div>
                        </ng-template>
                      </p-step-panel>
                    </p-step-item>
                    }
                  </p-stepper>
                </p-accordion-content>
              </p-accordion-panel>
            </p-accordion>
          </div>
        </ng-template>
      </p-card>
    </div>

    @if(relatedRecipes){
    <div>
      <h2 class="mt-4 text-center custom-title">Ricette correlate</h2>
      <div class="card mb-3">
        <p-carousel [value]="relatedRecipes" [numVisible]="3" [numScroll]="1" [circular]="true"
          [responsiveOptions]="responsiveOptions" class="background-color-carousel">
          <ng-template let-recipe #item>
            <div class="border border-surface-200 dark:border-surface-700 rounded m-2 p-4"
              style="background-color: aliceblue;">
              <div class="mb-4">
                <div class="image-wrapper-carousel">
                  <img [src]="'data:image/jpeg;base64,' + recipe.immagineurl" [alt]="recipe.titolo"
                    class="recipe-img" />
                </div>
              </div>
              <div class="mb-4" style="font-weight: bold; font-size: 1.25rem; color: black;">{{ recipe.titolo }}</div>
              <div class="flex justify-between items-center">
                <p-button icon="fa solid fa-heart" severity="info" styleClass="me-2" />
                <p-button icon="fa-solid fa-star-half-stroke" severity="info" styleClass="me-2" />
                @if(recipe.alimentazionenome === 'Vegetariana'){
                <p-button icon="fa-solid fa-carrot" severity="info" styleClass="ml-2" />
                }
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
    }


  </div>
  } @else {
  <p>Loading...</p>
  }
</div>