<div class="container">
  @if (recipe()) {
  <div class="card mt-3">
    <div class="card-header" style="background-color: rgba(247, 246, 248, 1); ">
      <strong style="color: #e84919; font-size: x-large;">{{recipe()!.titolo}}
      </strong>
    </div>
    <div class="row g-0">
      <div class="col-12 col-md-8">
        <img [src]="'data:image/jpeg;base64,' + recipe()!.immagineurl" class="img-fluid d-block w-100"
          style="width: 100%;" alt="...">
      </div>
      <div class="col-12 col-md-4" style="background-color: rgba(247, 246, 248, 1);">
        <div class="p-2">
          <p><i class="bi bi-clock-fill me-2"></i><strong style="color: #e84919">Tempo di cottura:
            </strong>{{recipe()!.tempocottura}}</p>
          <p><i class="fa-solid fa-people-group me-2"></i><strong style="color: #e84919">Porzioni:
            </strong>{{recipe()!.porzioni}}</p>
          <p><i class="fa-solid fa-bowl-rice me-2"></i><strong style="color: #e84919">Categoria:
            </strong>{{recipe()!.categorianome}}</p>
          <p><i class="fa-solid fa-carrot me-2"></i><strong style="color: #e84919">Tipo di alimentazione:
            </strong>{{recipe()!.alimentazionenome}}</p>
          <p><i class="fa-solid fa-user me-2"></i><strong style="color: #e84919">Autore: </strong>Alessandro Clima</p>
          <p><i class="bi bi-calendar-date me-2"></i><strong style="color: #e84919">Data di creazione: </strong>21-01-94
          </p>
          <p><i class="fa-solid fa-star me-2" style="color: gold;"></i><strong style="color: #e84919">Media voti:
            </strong>{{valutazioneMedia}}
          </p>
          <p><i class="fa-solid fa-heart me-2"></i><button class="btn btn-light btn-sm"
              style="width: 100px; border-color: #3A3A3A;">Salva
            </button>
          </p>
          <p><i class="bi bi-whatsapp me-2"></i><button class="btn btn-light btn-sm"
              style="width: 100px; border-color: #3A3A3A;">Condividi</button></p>
          <p><i class="fa-solid fa-print me-2"></i><button class="btn btn-light btn-sm"
              style="width: 100px; border-color: #3A3A3A;">Stampa</button></p>
        </div>
      </div>
    </div>
    <div class="card-body" style="background-color: rgba(247, 246, 248, 1);">
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne"
            (click)="isCollapseOpenOne = !isCollapseOpenOne" [style.background-color]="isCollapseOpenOne ? '#e1b18e91' : ''" style="box-shadow: none;">
              <strong style="color: #e84919">Descrizione</strong>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
            <div class="accordion-body">
              <p class="mb-0">{{recipe()!.descrizione}}</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseTwo"
              (click)="isCollapseOpenTwo = !isCollapseOpenTwo" [style.background-color]="isCollapseOpenTwo ? '#e1b18e91' : ''" style="box-shadow: none;">
              <strong style="color: #e84919">Ingredienti</strong>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
              <ul class="list-group list-group-flush">
                @for(ingredient of ingredientiModificati(); track ingredient) {

                <li class="list-group-item"><strong><u>{{ingredient.ingredienteNome}}</u></strong> {{ingredient.quantita}}
                  {{ingredient.unitaMisura}}</li>
                }
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
              aria-controls="panelsStayOpen-collapseThree"
              (click)="isCollapseOpenThree = !isCollapseOpenThree" [style.background-color]="isCollapseOpenThree ? '#e1b18e91' : ''" style="box-shadow: none;">
              <strong style="color: #e84919">Procedimento</strong>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
              <ol class="list-group list-group-numbered">
                @for (step of recipe()!.procedimento.split(';'); track $index) {
                <li class="list-group-item">{{step}}</li>
                }
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header" style="background-color: rgba(247, 246, 248, 1); ">
      <strong style="color: #e84919; font-size: x-large;">Commenti
      </strong>
    </div>
    <div class="card-body" style="background-color:rgba(247, 246, 248, 1);">
      <!-- se ci sono commenti -->
      @if(recipeUser()){
      <!-- se l'utente è loggato -->
      @if(user){
      @for(commento of recipeUser(); track commento) {
      <div class="card mb-3">
        <div class="card-body">
          <!-- lo username è da definire; la data è localizzata in italiano nel ts -->
          <h6 class="card-title">{{ commento.email.split('@')[0] }} - {{commento.datainserimento| date:'d MMMM yyyy,
            HH:mm' }}</h6>

          @if(user.email == commento.email && showInput){
          <textarea class="form-control mb-2" rows="3" placeholder="Scrivi il tuo commento..."
            [(ngModel)]="commento.commento">
            </textarea>
          <div class="mb-3">
            <label class="form-label">Valutazione:</label>
            <rating [(ngModel)]="commento.valutazione" [max]="5" [readonly]="false"
              [titles]="['1', '2', '3', '4', '5']">
            </rating>
          </div>

          <button class="btn btn-success btn-sm"
            (click)="submitComment(commento.commento, commento.valutazione)">Invia</button>
          <button class="btn btn-danger btn-sm ms-2" (click)="comeback()">Annulla</button>
          }
          @else{
          <p class="card-text">{{ commento.commento }}</p>

          }
          @if(user.email == commento.email && !showInput){
          <button class="btn btn-light btn-sm" style="border-color: #3A3A3A;" (click)="showInput = !showInput">
            Modifica commento
          </button>
          <div class="btn-group">
            <button class="btn btn-warning active btn-sm ms-2">{{commento.valutazione}}<i
                class="fa-solid fa-star ms-2"></i></button>
            <button class="btn btn-warning btn-sm" aria-current="page" (click)="showInput = !showInput">Vota</button>
          </div>
          }
        </div>
      </div>
      }

      @if(!commented && !showInput){
      <button class="btn btn-primary btn-sm" (click)="showInput = !showInput">
        Commenta
      </button>
      <div class="btn-group">
        <button class="btn btn-warning active btn-sm ms-2"><i class="fa-solid fa-star ms-2"></i></button>
        <button class="btn btn-warning btn-sm" aria-current="page" (click)="showInput = !showInput">Vota</button>
      </div>}
      @if(!commented && showInput){
      <div class="mt-3">
        <textarea class="form-control mb-2" rows="3" placeholder="Scrivi il tuo commento..."
          [(ngModel)]="commentText"></textarea>
        <div class="mb-3">
          <label class="form-label">Valutazione:</label>
          <rating [(ngModel)]="valutationNumber" [max]="5" [readonly]="false" [titles]="['1', '2', '3', '4', '5']">
          </rating>
        </div>
        <button class="btn btn-success btn-sm" (click)="submitComment(commentText, valutationNumber)">Invia</button>
        <button class="btn btn-danger btn-sm ms-2" (click)="comeback()">Annulla</button>
      </div>
      }

      }
      <!-- se l'utente non è loggato -->
      @else {
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Effettua il login per vedere i commenti!</h5>
        </div>
      </div>
      }
      }
    </div>
  </div>
  <!-- Per fare stella con dentro il voto dell'utente
    <div class="star-wrapper">
      <i class="bi bi-star-fill"></i>
      <span class="number">{{commento.valutazione}}</span>
    </div> -->

  <!-- Ricette correlate -->
  @if(relatedRecipes){
  <div class="card mt-3 mb-3">
    <div class="card-header" style="background-color: rgba(247, 246, 248, 1);">
      <strong style="color: #e84919; font-size: x-large;">
        Ricette correlate
      </strong>
    </div>
    <div id="carouselExampleCaptions" class="carousel slide" style="background-color: rgba(247, 246, 248, 1);">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        @for(recipe of relatedRecipes; track recipe) {
        <div class="carousel-item" [class.active]="recipe === relatedRecipes[0]">
          <img [src]="'data:image/jpeg;base64,'+ recipe.immagineurl" class="d-block mx-auto img-fluid carousel-img"
            alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{ recipe.titolo }}</h5>
          </div>
        </div>
        }

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  }

  } @else {
  <p>Loading...</p>
  }
</div>