<nav class="navbar navbar-expand-lg" style="background-color: white;">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <a class="navbar-brand" href="/">
          <img src="assets/static/files/Background.jpeg" alt="Logo" style="height: 40px;">
        </a> -->
        <li class="nav-item me-2">
          <a class="nav-link custom-link" routerLink="/"><i class="fa-solid fa-house me-2"></i>Home</a>
        </li>
        <li class="nav-item dropdown me-2">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-utensils me-1"></i> Ricette
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/admin/recipes">Tutte le ricette</a></li>
            @for(category of availablableCategories; track category) {
              <li><a class="dropdown-item" (click)="searchRecipesByCategory(category.name)">{{category.name}}</a></li>
            }
         
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" routerLink="/admin/ingredients"><i class="fa-solid fa-bowl-food me-2"></i>Ingredienti</a>
        </li>
      </ul>

       <!-- Search Bar -->
       <form class="d-flex flex-grow-1 mx-3">
        <input class="form-control me-2" type="search" placeholder="Cerca una ricetta" aria-label="Search">
        <button type="submit" class="btn btn-light"><i class="fa-solid fa-magnifying-glass" style="color: #e84919;"></i></button>
        <div class="d-flex ms-2">
          @if(user===undefined){
            <button type="button" class="btn btn-light" [routerLink]="['login']"><i class="fa-solid fa-user" style="color: #e84919;"></i></button>
          }
          @else {
          <button type="button" class="btn btn-light" (click)="onLogout()"><strong  style="color: #e84919;">Logout</strong></button>
          }
        </div>
      </form>

   
    </div>
  </div>
</nav>
