<nav class="navbar navbar-expand-lg mb-3 rounded" style="border-style:solid; border-color: #e84919;">
  <div class="container-fluid mx-0">
    <!-- First row: Logo, Title, and Mobile Toggler -->
    <div class="row w-100 align-items-center">
      <!-- Mobile toggler (visible only on mobile) -->
      <div class="col-2 d-lg-none">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg"
          aria-controls="navbarOffcanvasLg" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      
      <!-- Logo -->
      <div class="col-3 col-sm-2 col-lg-1">
        <a class="navbar-brand" routerLink="/">
          <img src="assets/static/files/profilonavbar.jpg" alt="Logo" style="height: 50px;">
        </a>
      </div>
      
      <!-- Title -->
      <div class="col-6 col-sm-8 col-lg-2">
        <a class="navbar-brand my-3" routerLink="/">
          <strong class="text-orange">Le ricette di...<br>Ale in borghese</strong>
        </a>
      </div>

      <!-- Desktop navigation and search (visible only on desktop) -->
      <div class="col-lg-9 d-none d-lg-flex align-items-center">
        <!-- Navigation menu -->
        <ul class="navbar-nav me-auto">
          <li class="nav-item me-4">
            <a class="nav-link custom-link" routerLink="/"><i class="fa-solid fa-house me-2"></i>Home</a>
          </li>
          <li class="nav-item dropdown me-4">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-utensils me-2"></i>Ricette
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/admin/recipes">Tutte le ricette</a></li>
              @for(category of availablableCategories; track category) {
              <li><a class="dropdown-item" (click)="searchRecipesByCategory(category.name)">{{category.name}}</a></li>
              }
            </ul>
          </li>
          <li class="nav-item me-4">
            <a [routerLink]="['/admin/recipes/add']" class="nav-link custom-link" style="border-color: #e84919;">
              <i class="fa-solid fa-plus me-1"></i>Nuova Ricetta
            </a>
          </li>
        </ul>

        <!-- Desktop search and login -->
        <form class="d-flex align-items-center" (ngSubmit)="onSearchRecipes()">
          <input class="form-control me-2" type="search" placeholder="Cerca una ricetta" aria-label="Search"
            name="searchText" [(ngModel)]="searchText">
          <button type="submit" class="btn btn-light me-2"><i class="fa-solid fa-magnifying-glass"
              style="color: #e84919;"></i></button>
          @if(user===undefined){
          <button type="button" class="btn btn-light" [routerLink]="['login']"><i class="fa-solid fa-user"
              style="color: #e84919;"></i></button>
          }
          @else {
          <button type="button" class="btn btn-light" (click)="onLogout()"><strong
              style="color: #e84919;">Logout</strong></button>
          }
        </form>
      </div>
    </div>

    <!-- Second row: Mobile search and login (visible only on mobile) -->
    <div class="row w-100 mt-2 d-lg-none">
      <div class="col-12">
        <form class="d-flex" (ngSubmit)="onSearchRecipes()">
          <input class="form-control me-2" type="search" placeholder="Cerca una ricetta" aria-label="Search"
            name="searchText" [(ngModel)]="searchText">
          <button type="submit" class="btn btn-light me-2"><i class="fa-solid fa-magnifying-glass"
              style="color: #e84919;"></i></button>
          @if(user===undefined){
          <button type="button" class="btn btn-light" [routerLink]="['login']"><i class="fa-solid fa-user"
              style="color: #e84919;"></i></button>
          }
          @else {
          <button type="button" class="btn btn-light" (click)="onLogout()"><strong
              style="color: #e84919;">Logout</strong></button>
          }
        </form>
      </div>
    </div>

    <!-- Mobile offcanvas menu -->
    <div class="offcanvas offcanvas-start d-lg-none" tabindex="-1" id="navbarOffcanvasLg"
      aria-labelledby="navbarOffcanvasLgLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><strong class="text-orange">Le ricette di...Ale in
            borghese</strong></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body my-2">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
          <li class="nav-item me-4">
            <a class="nav-link custom-link" routerLink="/"><i class="fa-solid fa-house me-2"></i>Home</a>
          </li>
          <li class="nav-item dropdown me-4">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-utensils me-2"></i>Ricette
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/admin/recipes">Tutte le ricette</a></li>
              @for(category of availablableCategories; track category) {
              <li><a class="dropdown-item" (click)="searchRecipesByCategory(category.name)">{{category.name}}</a></li>
              }
            </ul>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/admin/recipes/add']" class="nav-link custom-link" style="border-color: #e84919;">
              <i class="fa-solid fa-plus me-1"></i>Nuova Ricetta
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>