.navbar-logo {
  height: calc(100% - 16px);
  width: auto;
  object-fit: contain;
  margin: 8px 16px;
}

.bg-yellow {
  background-color: #FFD700 !important; /* Gold color */
}

.form-control:focus {
  border-color: #e84919;
  box-shadow: 0 0 0 0.2rem rgba(232, 73, 25, 0.25);
}
