<div class="container mt-5 mb-4">
  <div class="row justify-content-center">
    <div class="col-md-8 col-sm-10">
      <div class="d-flex flex-column flex-md-row align-items-center border rounded p-4 bg-light">

        <!-- Login form -->
        <div class="flex-fill pe-md-4 mb-4 mb-md-0 w-100">
          <h2 class="mb-4 text-center">Accedi</h2>
          <form (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Inserisci email"
                [(ngModel)]="model().email">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Inserisci password"
                [(ngModel)]="model().password">
            </div>
            <button type="submit" class="btn btn-light w-100" style="border-color: #e84919;"><i
                class="bi bi-box-arrow-in-right me-2" style="color: #e84919;"></i>Login</button>
          </form>
        </div>

        <!-- Vertical divider (desktop only) -->
        <div class="vr mx-4 d-none d-md-block" style="height: 300px;"></div>

        <!-- Horizontal divider (mobile only) -->
        <hr class="d-block d-md-none w-100 my-4">

        <!-- Signup button -->
        <div class="text-center ps-md-4 w-100">
          <h5 class="mb-3">Nuovo utente?</h5>
          <button class="btn btn-light w-100" style="border-color: #e84919;" (click)="OnRegister()"> <i
              class="bi bi-person-plus me-2" style="color: #e84919;"></i> Registrati</button>
        </div>

      </div>
    </div>
  </div>
</div>