.global-background {
    min-height: 100vh;
    background-image: url('/assets/static/files/Background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }