<div class="container mt-5 mb-4">
    <div class="row justify-content-center">
      <div class="col-md-8 col-sm-10">
        <div class="d-flex flex-column flex-md-row align-items-center border rounded p-4 bg-light">
  
          <!-- reset password form -->
          <div class="flex-fill pe-md-4 mb-4 mb-md-0 w-100">
            <h2 class="mb-4 text-center" style="color: #e84919;">Reset password</h2>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" required class="form-control" id="email" name="email" placeholder="Inserisci email"
                  [(ngModel)]="model().email" #email="ngModel">
                @if(email.invalid && (email.touched||loginForm.submitted)) {
                    @if(email.errors?.['required']){
                        <small class="text-red">Email obbligatoria</small>
                    }
                    @if(email.errors?.['email']){
                        <small>Formato email non valido</small>
                    }
                }
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" required class="form-control" id="password" name="password"
                  placeholder="Inserisci password" [(ngModel)]="model().password" #password="ngModel">
                @if(password.invalid && (password.touched||loginForm.submitted)) {
                    @if(password.errors?.['required']){
                        <small class="text-red">Password obbligatoria</small>
                    }
                
                }
              </div>
              <div class="mb-3">
                <label for="confirmPassword" class="form-label">Conferma Password</label>
                <input type="password" required class="form-control" id="confirmPassword" name="confirmPassword"
                  placeholder="Reinserisci password" [(ngModel)]="model().confirmPassword" #confirmPassword="ngModel">
                  @if(!samePassword && (loginForm.submitted)) {
                    <small class="text-red">Le password non coincidono</small>
                }
               
              </div>
              <button type="submit" class="btn btn-light w-100" style="border-color: #e84919;"><i
                  class="bi bi-box-arrow-in-right me-2" style="color: #e84919;"></i>Reset</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>